{% extends 'base.html' %}
{% load static %}
{% block head-content %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css" integrity="sha512-8D+M+7Y6jVsEa7RD6Kv/Z7EImSpNpQllgaEIQAtqHcI0H6F4iZknRj0Nx1DCdB+TwBaS+702BGWYC0Ze2hpExQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link type ='text/css' rel = 'stylesheet' href = "{% static 'css/detail_blog.css' %}">
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js" integrity="sha512-Y+cHVeYzi7pamIOGBwYHrynWWTKImI9G78i53+azDb1uPmU1Dz9/r2BLxGXWgOC7FhwAGsy3/9YpNYaoBy7Kzg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src = "{% static 'js/detail_blog.js' %}"></script>
{% endblock %}

{% block content %}
<div class = 'main'>
    <div class = 'main-content'>
        <div class = 'content'>
            <div class = 'blog-title'>
                {{blog.title|title}}
            </div>
            <div class = 'blog-info'>
                <div class = 'left-side'>
                    <div>
                        {{blog.author|title}}
                    </div>
                    <div>
                        <i class="far fa-clock"></i>
                        {{blog.publish_date}}
                    </div>
                </div>
                <div class = 'right-side'>
                    <i class="far fa-comments"><p class = 'total_comments'>{{total_comments}} Comments</p></i>
                    <i class="far fa-eye"><p>{{blog.views}} Views</p></i>
                </div>
            </div>
            <div class = 'blog-content'>
                {{blog.content|safe}}
            </div>
            <div class = 'share-div'>
                <div class = 'left'>
                    <i class="fas fa-heart fa-lg {% if has_liked == 1 %}{% else %} heart-remove {% endif %}" data-action = 'Like' data-parent = 'Blog' data-action-id = '{{blog.id}}'></i>
                    <i class="far fa-heart fa-lg {% if has_liked == 1 %} heart-remove {% endif %}" data-action = 'Like' data-parent = 'Blog' data-action-id = '{{blog.id}}'></i>
                    <i class="far fa-comment fa-lg" data-action = 'Comment' data-parent = 'Blog' data-parent = 'Comment' data-action-id = '{{blog.id}}'></i>
                    <p class = 'total_likes'>{{total_likes}} likes</p>
                    <p class = 'total_comments'>{{total_comments}} comments</p>
                </div>
                <div class = 'right'>
                    <a href = 'https://www.facebook.com/sharer/sharer.php?u=/blog/2#' class = 'fa fa-facebook'></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-pinterest"></a>
                    <a href="#" class="fa fa-tumblr"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class = 'comment-div'>
            <p class = 'heading'>Comments</p>
    

        </div>
    </div>

    <div class = 'side-content'>
        <div class = 'side-search'>
            <form>
                <div class="form-outline">
                    <input type="text" id="searchform" class="form-control" />
                    <label class="form-label" for="searchform">Search</label>
                </div>
                <button class = 'blog-search-btn'><i class="fas fa-search"></i></button>
            </form>    
        </div>

        <div class = 'related-blogs'>
            <p class = 'heading'>Related Blogs</p>
            <div class = 'related-blogs-list'>
                <div class = 'blog-item'>
                    <a href ='#'><img src = "http://127.0.0.1:8000/media/uploadsCK/2021/09/11/pistol.png"></a>
                    <div class = 'related-blog-info'>
                        <a href ='#'><p>We have annnocuced our new product. Thius is ssssssssssssssssssssss </p></a>
                        <div class = 'extra-info'>
                            <i class="far fa-calendar-alt"></i>
                            <p>March 21st, 2022</p>
                            <i class="fas fa-eye"></i>
                            <p>43</p>
                        </div>
                    </div>  
                </div>
                <div class = 'blog-item'>
                    <a href ='#'><img src = "http://127.0.0.1:8000/media/uploadsCK/2021/09/11/pistol.png"></a>
                    <div class = 'related-blog-info'>
                        <a href ='#'><p>We have annnocuced our new product. Thius is ssssssssssssssssssssss </p></a>
                        <div class = 'extra-info'>
                            <i class="far fa-calendar-alt"></i>
                            <p>March 21st, 2022</p>
                            <i class="fas fa-eye"></i>
                            <p>43</p>
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <div class = 'tags-div'>
            <p class = heading>Tags</p>
            <div class = 'tag-container'>
                {% for t in blog.tags.all %}
                <div class= 'tag'>
                    <i class="fas fa-tag"></i>
                    <p>{{t}}</p>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<!-----Comment modal ------>
<div class="modal fade" id="comment-modal"  tabindex="-1"  aria-labelledby="commentModalLabel"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="comment-modal-title">Post a Comment</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
          <textarea class = 'comment-textarea' id = 'comment-textarea'></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id='comment-post'>Post</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-comment-modal"  tabindex="-1"  aria-labelledby="editModalLabel"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-comment-modal-title">Edit your Comment</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
            <textarea class = 'edit-comment-textarea' id = 'edit-comment-textarea'></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" id='edit-comment-post'>Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
<div class="modal fade" id="delete-comment-modal"  tabindex="-1"  aria-labelledby="deleteModalLabel"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete-modal-title">Are you sure you want to delete this comment ?</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
            No
          </button>
          <button type="button" class="btn btn-primary" id='comment-delete'>Yes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}