*
{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

label{
    font-weight: 600;
    color: rgb(117, 117, 117);
    font-size: 14px;
}

input[type = 'text'], textarea{
    font-weight: 500;
    color: rgb(102, 102, 102);
    font-size: 14px ;
    border-color: rgb(192, 192, 192);
    padding: 10px;
}

input[type = 'text']:focus, textarea:focus{
    border-color: rgb(0, 89, 255);
    border-width: 2px ;
}

.small-div{
    display: none;
    flex-direction: column;
    margin: 3px;
}

small.helper{
    font-weight: 500;
    color: rgb(102, 102, 102);
}

small.error{
    font-weight: 500;
    color: rgb(255, 0, 0);
}

small.success{
    font-weight: 500;
    color: rgb(2, 226, 69);
}

.top-navbar{
    position: relative;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    height: 60px;
    padding:0;
}

.top-navbar .right{
    border: 0px solid black;
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding : 0;
    margin-right: 50px;
    margin-bottom: 10px;
}

.icon-badge{
    position: relative;
    display: flex;
    flex-direction: column;
    border:0px solid red
}

.icon-badge i{
    font-size: 22px;
    margin-top: 10px;
    position: relative;
    cursor: pointer; 
}

.icon-badge .badge{
    position: absolute;
    border-radius: 10px;
    color: white;
    background-color: red;
    height: fit-content;
    width: fit-content;
    z-index:1;
    font-size: 10px;
    top: -5px;
    left: 12px;
}

.icon-badge .my-dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    border:1px solid rgb(180, 180, 180);
    top: 120%;
    right: 0;
    width: 500px;
    z-index: 100;
    background-color: white;
}

.icon-badge:hover > .my-dropdown{
    display: none;
}

.my-dropdown-header{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    border-bottom: 1px solid rgb(209, 209, 209);
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.my-dropdown-header p{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgb(65, 65, 65);
    width: fit-content;
    height: fit-content;
    margin-top: 7px;
    font-weight: 500;
}

.my-dropdown-list{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: scroll;
    background-color: white;
}

.my-dropdown-item{
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.my-dropdown-item:nth-child(n){
    border-bottom: 1px solid rgb(167, 167, 167);
}

.my-dropdown-item img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: scale-down;
}

.my-dropdown-item .right-side{
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    align-self: left;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.my-dropdown-item .right-side .content{
    color:black;
    font-weight: 500;
    font-size: 16px;
}

.my-dropdown-item .right-side .time{
    color:rgb(58, 58, 58);
    font-size: 13px;
}